<!-- Intern Info -->
<div class="card" style="width:250px; text-align: center; border-color: black; margin: 50px; display: inline-block;">
    <div class="card-header" style="border-color: black; background-color: darkorange!important; line-height: 6px; padding-top: 25px;">
        <h4 class="card-title">{{ name }}</h4>
        <i class="fas fa-user-graduate" style="font-size: 22px; padding-right: 5px; display: inline-block;"></i>
        <h5 style="display:inline-block;">{{ role }}</h5>
    </div>
    <div class="card-body" style="font-size: 16px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID # {{ id }}</li>
            <li class="list-group-item">Email: {{ email }}</li>
            <li class="list-group-item">School: {{ school }}</li>
        </ul>
    </div>
</div>